$orangeColor:rgb(255, 129, 3);
$roboto: 'Roboto',
sans-serif;

@mixin backGroundPicture {
    background-size: cover;
    /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
    -webkit-background-size: cover;
    /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
    -moz-background-size: cover;
    /* optional for Firefox 3.6 */
    -o-background-size: cover;
    /* for Opera 9.5 */
    margin: 0;
    /* to remove the default white margin of body */
    padding: 0;
    /* to remove the default white margin of body */
    overflow: hidden;
    background-position: center center;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(0, 0, 0);
}



//centralize all the content if the screen size gets bigger then 2200px
.wrapper {
    // max-width: 2200px;
    max-width: 1521px;
    margin: 0 auto;
}

//Nav
// .headDiv {
//     background-color: #232222;
//     height: 50px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 30px 10%;
//     z-index: 99;
//     position: fixed;
//     top: 0;
//     height: 50px;
//     width: 100%;
//     font-size: 1.2rem;
//     line-height: 50px;

//     //.nav {}


//     a {
//         margin-left: 30px;
//         font-family: $roboto;
//         text-decoration: none;
//         color: rgb(255, 255, 255);
//     }

//     a:hover {
//         color: rgb(41, 245, 10);

//     }

//     p {
//         color: rgb(243, 237, 237);
//         font-family: $roboto;
//         justify-content: center;

//         // margin-right: 30px;
//     }

// }

.navHeader {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 40px;
    // background-color: #24252a;
    background-color: rgba(0, 0, 0, 0);
    //opacity: 0.5;
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;
    font-size: 1.2rem;

    .navLinks {
        list-style: none;
        display: flex;
    }

    .navLinks a,
    p {
        font-family: $roboto;
        color: white;
        text-decoration: none;
    }

    .navLinks li {
        padding: 0px 20px;
    }

    .navLinks li a {
        transition: color 0.3s ease 0s;
    }

    .navLinks li a:hover {
        color: $orangeColor;
    }

    .name {
        color: $orangeColor;
    }
}


//Landing page

.landingPage {
    // background-image: url("/pictures/pexels-artem-beliaikin-853199.jpg");
    //background-image: url("/pictures/blackandwhite.jpg");
    // background-image: linear-gradient(200deg, rgba(171, 171, 171, 0.13) 0%, rgba(171, 171, 171, 0.13) 23%, rgba(90, 90, 90, 0.21) 23%, rgba(90, 90, 90, 0.21) 48%, rgba(65, 65, 65, 0.18) 48%, rgba(65, 65, 65, 0.18) 61%, rgba(232, 232, 232, 0) 61%, rgba(232, 232, 232, 0) 100%), linear-gradient(126deg, rgba(194, 194, 194, 0) 0%, rgba(194, 194, 194, 0) 11%, rgba(127, 127, 127, 0.07) 11%, rgba(127, 127, 127, 0.07) 33%, rgba(117, 117, 117, 0.19) 33%, rgba(117, 117, 117, 0.19) 99%, rgba(248, 248, 248, 0.05) 99%, rgba(248, 248, 248, 0.05) 100%), linear-gradient(144deg, rgba(64, 64, 64, 0.01) 0%, rgba(64, 64, 64, 0.01) 33%, rgba(211, 211, 211, 0.1) 33%, rgba(211, 211, 211, 0.1) 50%, rgba(53, 53, 53, 0.35) 50%, rgba(53, 53, 53, 0.35) 75%, rgba(144, 144, 144, 0) 75%, rgba(144, 144, 144, 0) 100%), linear-gradient(329deg, hsl(148, 0%, 0%), hsl(148, 0%, 0%));
    background-image: linear-gradient(200deg, rgba(213, 213, 213, 0.01) 0%, rgba(213, 213, 213, 0.01) 14.286%, rgba(140, 140, 140, 0.01) 14.286%, rgba(140, 140, 140, 0.01) 28.572%, rgba(52, 52, 52, 0.01) 28.572%, rgba(52, 52, 52, 0.01) 42.858%, rgba(38, 38, 38, 0.01) 42.858%, rgba(38, 38, 38, 0.01) 57.144%, rgba(159, 159, 159, 0.01) 57.144%, rgba(159, 159, 159, 0.01) 71.42999999999999%, rgba(71, 71, 71, 0.01) 71.43%, rgba(71, 71, 71, 0.01) 85.71600000000001%, rgba(88, 88, 88, 0.01) 85.716%, rgba(88, 88, 88, 0.01) 100.002%), linear-gradient(337deg, rgba(25, 25, 25, 0.01) 0%, rgba(25, 25, 25, 0.01) 12.5%, rgba(150, 150, 150, 0.01) 12.5%, rgba(150, 150, 150, 0.01) 25%, rgba(84, 84, 84, 0.01) 25%, rgba(84, 84, 84, 0.01) 37.5%, rgba(85, 85, 85, 0.01) 37.5%, rgba(85, 85, 85, 0.01) 50%, rgba(188, 188, 188, 0.01) 50%, rgba(188, 188, 188, 0.01) 62.5%, rgba(80, 80, 80, 0.01) 62.5%, rgba(80, 80, 80, 0.01) 75%, rgba(73, 73, 73, 0.01) 75%, rgba(73, 73, 73, 0.01) 87.5%, rgba(219, 219, 219, 0.01) 87.5%, rgba(219, 219, 219, 0.01) 100%), linear-gradient(203deg, rgba(233, 233, 233, 0.01) 0%, rgba(233, 233, 233, 0.01) 25%, rgba(114, 114, 114, 0.01) 25%, rgba(114, 114, 114, 0.01) 50%, rgba(164, 164, 164, 0.01) 50%, rgba(164, 164, 164, 0.01) 75%, rgba(228, 228, 228, 0.01) 75%, rgba(228, 228, 228, 0.01) 100%), linear-gradient(317deg, rgba(139, 139, 139, 0.02) 0%, rgba(139, 139, 139, 0.02) 16.667%, rgba(44, 44, 44, 0.02) 16.667%, rgba(44, 44, 44, 0.02) 33.334%, rgba(166, 166, 166, 0.02) 33.334%, rgba(166, 166, 166, 0.02) 50.001000000000005%, rgba(2, 2, 2, 0.02) 50.001%, rgba(2, 2, 2, 0.02) 66.668%, rgba(23, 23, 23, 0.02) 66.668%, rgba(23, 23, 23, 0.02) 83.33500000000001%, rgba(21, 21, 21, 0.02) 83.335%, rgba(21, 21, 21, 0.02) 100.002%), linear-gradient(328deg, rgba(3, 3, 3, 0.03) 0%, rgba(3, 3, 3, 0.03) 12.5%, rgba(116, 116, 116, 0.03) 12.5%, rgba(116, 116, 116, 0.03) 25%, rgba(214, 214, 214, 0.03) 25%, rgba(214, 214, 214, 0.03) 37.5%, rgba(217, 217, 217, 0.03) 37.5%, rgba(217, 217, 217, 0.03) 50%, rgba(247, 114, 7, 0.06) 50%, rgba(247, 114, 7, 0.06) 62.5%, rgba(251, 129, 5, 0.13) 62.5%, rgba(251, 129, 5, 0.13) 75%, rgba(200, 200, 200, 0.03) 75%, rgba(200, 200, 200, 0.03) 87.5%, rgba(198, 198, 198, 0.03) 87.5%, rgba(198, 198, 198, 0.03) 100%), linear-gradient(97deg, rgba(249, 93, 5, 0.17) 0%, rgba(249, 93, 5, 0.17) 16.667%, rgba(177, 177, 177, 0.03) 16.667%, rgba(177, 177, 177, 0.03) 33.334%, rgba(170, 170, 170, 0) 33.334%, rgba(170, 170, 170, 0) 50.001000000000005%, rgba(241, 119, 15, 0) 50.001%, rgba(241, 119, 15, 0) 66.668%, rgba(121, 121, 121, 0.03) 66.668%, rgba(121, 121, 121, 0.03) 83.33500000000001%, rgba(146, 146, 146, 0) 83.335%, rgba(146, 146, 146, 0) 100.002%), linear-gradient(268deg, rgba(103, 103, 103, 0.03) 0%, rgba(103, 103, 103, 0.03) 25%, rgba(247, 105, 6, 0.07) 25%, rgba(247, 105, 6, 0.07) 50%, rgba(4, 4, 4, 0) 50%, rgba(4, 4, 4, 0) 75%, rgba(227, 227, 227, 0) 75%, rgba(227, 227, 227, 0) 100%), linear-gradient(90deg, hsl(98, 0%, 0%), hsl(98, 0%, 0%));

    display: grid;
    grid-template-columns: 1fr 1fr;
    //@include backGroundPicture;
    justify-items: center; // Centrerade bilden

    h1 {
        margin-bottom: 20px;
        font-size: 4rem;
    }

    span {
        //color: rgb(41, 245, 10); //rgb(41, 245, 10)
        color: $orangeColor;
    }

    p {
        margin: 0 auto;
        text-shadow: rgb(0, 0, 0) 1px 0 20px;
        font-weight: bold;
        font-size: 1.7rem;

        color: rgb(255, 255, 255);
    }

    .landingText {
        position: relative;
        font-family: $roboto;
        font-size: 1.5rem;
        //margin-top: 45%;
        margin-top: 30%;
        margin-left: 50px;
        color: white;
    }

    .landingPic {
        color: white;
        height: 100vh;

        #me {
            z-index: 1;
            height: 400px;
            position: relative;
            top: 45%;
            transform: translateY(-30%);
        }
    }
}


//About me
.aboutMeDiv {
    display: grid;
    grid-template-rows: 1fr;
    height: 100vh;
    //background-image: url("/pictures/pexels-martin-péchy-2078266.jpg");
    background-image: linear-gradient(326deg, rgba(236, 236, 236, 0.47) 0%, rgba(236, 236, 236, 0.47) 6%, rgba(157, 157, 157, 0.21) 6%, rgba(157, 157, 157, 0.21) 29%, rgba(3, 3, 3, 0.51) 29%, rgba(3, 3, 3, 0.51) 100%), linear-gradient(164deg, rgba(236, 236, 236, 0.47) 0%, rgba(236, 236, 236, 0.47) 36%, rgba(157, 157, 157, 0.21) 36%, rgba(157, 157, 157, 0.21) 61%, rgba(3, 3, 3, 0.51) 61%, rgba(3, 3, 3, 0.51) 100%), linear-gradient(336deg, rgba(236, 236, 236, 0.47) 0%, rgba(236, 236, 236, 0.47) 64%, rgba(157, 157, 157, 0.21) 64%, rgba(157, 157, 157, 0.21) 69%, rgba(3, 3, 3, 0.51) 69%, rgba(3, 3, 3, 0.51) 100%), linear-gradient(90deg, rgb(255, 119, 6), rgb(255, 119, 6));

    background-size: cover;
    //@include backGroundPicture();

    //Själva diven med texten om mig
    .aboutMeText {
        position: relative;
        overflow: auto; //Gör så att texten inte flyter utanför text rutan
        width: 60%;
        margin-top: 270px;
        margin-left: 300px;
        height: 500px;
        //background-color: rgb(0, 0, 0);
        -webkit-box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 1);
        box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 1);
        font-family: $roboto;
        background: rgba(47, 89, 130, 0.346)
    }

    .meColor {
        margin-left: 480px;
        margin-top: 0px;
        height: 400px;
        max-width: 100%;
        position: absolute;
        z-index: 2;
    }



    p {
        font-size: 1.4rem;
        margin-top: 150px;
        margin-left: 40px;
        margin-right: 40px;
        color: white;
    }

}

//Portfolio
@mixin project {
    margin-top: 20%;
    margin-left: 15%;
    height: 600px;
    width: 400px;
    background: rgba(0, 0, 0, 0.500);
}

.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 95vh;
    color: #ffffff;
    //background-image: repeating-linear-gradient(45deg, rgba(136, 136, 136, 0.13) 0px, rgba(136, 136, 136, 0.13) 27px, rgba(192, 192, 192, 0.13) 27px, rgba(192, 192, 192, 0.13) 37px, rgba(34, 34, 34, 0.13) 37px, rgba(34, 34, 34, 0.13) 50px, rgba(169, 169, 169, 0.13) 50px, rgba(169, 169, 169, 0.13) 84px, rgba(118, 118, 118, 0.13) 84px, rgba(118, 118, 118, 0.13) 110px, rgba(133, 133, 133, 0.13) 110px, rgba(133, 133, 133, 0.13) 140px, rgba(12, 12, 12, 0.13) 140px, rgba(12, 12, 12, 0.13) 159px), repeating-linear-gradient(45deg, rgba(134, 134, 134, 0.13) 0px, rgba(134, 134, 134, 0.13) 17px, rgba(172, 172, 172, 0.13) 17px, rgba(172, 172, 172, 0.13) 29px, rgba(108, 108, 108, 0.13) 29px, rgba(108, 108, 108, 0.13) 67px, rgba(170, 170, 170, 0.13) 67px, rgba(170, 170, 170, 0.13) 85px, rgba(135, 135, 135, 0.13) 85px, rgba(135, 135, 135, 0.13) 122px, rgba(80, 80, 80, 0.13) 122px, rgba(80, 80, 80, 0.13) 168px, rgba(24, 24, 24, 0.13) 168px, rgba(24, 24, 24, 0.13) 203px), repeating-linear-gradient(45deg, rgba(251, 251, 251, 0.1) 0px, rgba(251, 251, 251, 0.1) 99px, rgba(17, 17, 17, 0.1) 99px, rgba(17, 17, 17, 0.1) 158px, rgba(39, 39, 39, 0.1) 158px, rgba(39, 39, 39, 0.1) 259px, rgba(4, 4, 4, 0.1) 259px, rgba(4, 4, 4, 0.1) 394px, rgba(36, 36, 36, 0.1) 394px, rgba(36, 36, 36, 0.1) 514px, rgba(251, 251, 251, 0.1) 514px, rgba(251, 251, 251, 0.1) 622px, rgba(76, 76, 76, 0.1) 622px, rgba(76, 76, 76, 0.1) 737px), linear-gradient(90deg, rgb(59, 49, 48), rgb(21, 44, 43));
    background-image: linear-gradient(12deg, rgba(193, 193, 193, 0.05) 0%, rgba(193, 193, 193, 0.05) 2%, rgba(129, 129, 129, 0.05) 2%, rgba(129, 129, 129, 0.05) 27%, rgba(254, 139, 8, 0.12) 27%, rgba(254, 139, 8, 0.12) 66%, rgba(83, 83, 83, 0.17) 66%, rgba(83, 83, 83, 0.17) 100%), linear-gradient(321deg, rgba(254, 118, 6, 0.24) 0%, rgba(254, 118, 6, 0.24) 13%, rgba(231, 231, 231, 0.26) 13%, rgba(231, 231, 231, 0.26) 34%, rgba(248, 133, 8, 0.17) 34%, rgba(248, 133, 8, 0.17) 71%, rgba(112, 112, 112, 0) 71%, rgba(112, 112, 112, 0) 100%), linear-gradient(236deg, rgba(189, 189, 189, 0.03) 0%, rgba(189, 189, 189, 0.03) 47%, rgba(174, 98, 39, 0.32) 47%, rgba(174, 98, 39, 0.32) 58%, rgba(108, 108, 108, 0.05) 58%, rgba(108, 108, 108, 0.05) 85%, rgba(16, 15, 15, 0.28) 85%, rgba(16, 15, 15, 0.28) 100%), linear-gradient(96deg, rgba(53, 53, 53, 0.05) 0%, rgba(53, 53, 53, 0.05) 53%, rgba(44, 44, 44, 0.05) 53%, rgba(44, 44, 44, 0.05) 82%, rgba(77, 77, 77, 0.05) 82%, rgba(77, 77, 77, 0.05) 98%, rgba(8, 8, 8, 0.05) 98%, rgba(8, 8, 8, 0.05) 100%), linear-gradient(334deg, hsl(247, 0%, 2%), hsl(247, 0%, 2%));

    .projectOne {

        .quiz {
            @include project;

            .quizPic {
                width: 400px;
            }

            p,
            ul {
                margin-top: 50px;
                margin-left: 40px;
                font-size: 1.5rem;
                font-family: $roboto;
            }

            li {
                padding: 10px;
            }

            a {
                text-decoration: none;
                //color: rgb(87, 201, 95);
                color: $orangeColor;
            }
        }
    }

    .projecTwo {

        .yatzy {
            @include project;


            .yatzyPic {
                width: 400px;
            }

            p,
            ul {
                margin-top: 50px;
                margin-left: 40px;
                font-size: 1.5rem;
                font-family: $roboto;
            }

            li {
                padding: 10px;
            }

            a {
                text-decoration: none;
                // color: rgb(87, 201, 95);
                color: $orangeColor;

            }
        }
    }

    .projecThree {

        .event {
            @include project;

            .eventPic {
                width: 400px;
                height: 235px;
            }

            p,
            ul {
                margin-top: 50px;
                margin-left: 40px;
                font-size: 1.5rem;
                font-family: $roboto;
            }

            li {
                padding: 10px;
            }

            a {
                text-decoration: none;
                // color: rgb(87, 201, 95);
                color: $orangeColor;

            }
        }
    }
}



.contactDiv {
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 25% auto 25%;
    height: 100vh;
    //color: #ffffff;
    background-image: linear-gradient(200deg, rgba(171, 171, 171, 0.13) 0%, rgba(171, 171, 171, 0.13) 23%, rgba(90, 90, 90, 0.21) 23%, rgba(90, 90, 90, 0.21) 48%, rgba(65, 65, 65, 0.18) 48%, rgba(65, 65, 65, 0.18) 61%, rgba(232, 232, 232, 0) 61%, rgba(232, 232, 232, 0) 100%), linear-gradient(126deg, rgba(194, 194, 194, 0) 0%, rgba(194, 194, 194, 0) 11%, rgba(127, 127, 127, 0.07) 11%, rgba(127, 127, 127, 0.07) 33%, rgba(117, 117, 117, 0.19) 33%, rgba(117, 117, 117, 0.19) 99%, rgba(248, 248, 248, 0.05) 99%, rgba(248, 248, 248, 0.05) 100%), linear-gradient(144deg, rgba(64, 64, 64, 0.01) 0%, rgba(64, 64, 64, 0.01) 33%, rgba(211, 211, 211, 0.1) 33%, rgba(211, 211, 211, 0.1) 50%, rgba(53, 53, 53, 0.35) 50%, rgba(53, 53, 53, 0.35) 75%, rgba(144, 144, 144, 0) 75%, rgba(144, 144, 144, 0) 100%), linear-gradient(329deg, hsl(148, 0%, 0%), hsl(148, 0%, 0%));

    .contactInfo {
        grid-column-start: 2;
        grid-row-start: 2;
        height: auto;
        width: auto;
        background-color: rgba(147, 149, 147, 0.367);
        -webkit-box-shadow: 11px 14px 22px -1px rgba(0, 0, 0, 0.66);
        box-shadow: 11px 14px 22px -1px rgba(0, 0, 0, 0.66);

        h1 {
            font-family: $roboto;
            text-decoration: underline;
            margin: 30px;
            //color: white;
            color: $orangeColor;
            font-size: 2.3rem;
        }

        ul {
            margin-left: 20px;
            margin-top: 40px;
            font-size: 1.5rem;
            font-family: $roboto;
            list-style: none;
            color: white;
        }

        li {
            padding: 10px;
            ;
        }

        a {
            text-decoration: none;
            color: white;
        }

        a:hover {
            color: $orangeColor;
        }

        .logos {
            height: 50px;
            margin-top: 140px;
            margin-left: 480px;

            #facebook,
            #linktedIn,
            #gitHub {
                height: 50px;
                margin-left: 10px;
            }

            #mail {
                height: 55px;
            }
        }



    }
}

.educationDiv {
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 25% auto 25%;
    height: 100vh;

    .educationInfo {
        grid-column-start: 2;
        grid-row-start: 2;
        height: auto;
        width: auto;
        background-color: rgba(147, 149, 147, 0.367);
        -webkit-box-shadow: 11px 14px 22px -1px rgba(0, 0, 0, 0.66);
        box-shadow: 11px 14px 22px -1px rgba(0, 0, 0, 0.66);
    }

    h1 {
        text-align: center;
        color: $orangeColor;
        font-family: $roboto;
        margin-top: 30px;
    }

    p {
        color: white;
        font-family: $roboto;
        font-size: 1.2rem;
        margin-top: 40px;
        padding: 0 20px;

    }
}