$orangeColor:rgb(240, 165, 90);
$roboto: 'Roboto',
sans-serif;

@mixin backGroundPicture {
    background-size: cover;
    /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
    -webkit-background-size: cover;
    /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
    -moz-background-size: cover;
    /* optional for Firefox 3.6 */
    -o-background-size: cover;
    /* for Opera 9.5 */
    margin: 0;
    /* to remove the default white margin of body */
    padding: 0;
    /* to remove the default white margin of body */
    overflow: hidden;
    background-position: center center;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(2, 2, 2);
}



//centralize all the content if the screen size gets bigger then 2200px
.wrapper {
    max-width: 2200px;
    margin: 0 auto;
}

//Nav
// .headDiv {
//     background-color: #232222;
//     height: 50px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 30px 10%;
//     z-index: 99;
//     position: fixed;
//     top: 0;
//     height: 50px;
//     width: 100%;
//     font-size: 1.2rem;
//     line-height: 50px;

//     //.nav {}


//     a {
//         margin-left: 30px;
//         font-family: $roboto;
//         text-decoration: none;
//         color: rgb(255, 255, 255);
//     }

//     a:hover {
//         color: rgb(41, 245, 10);

//     }

//     p {
//         color: rgb(243, 237, 237);
//         font-family: $roboto;
//         justify-content: center;

//         // margin-right: 30px;
//     }

// }

.navHeader {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 40px;
    background-color: #24252a;
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;
    font-size: 1.2rem;

    .navLinks {
        list-style: none;
        display: flex;
    }

    .navLinks a,
    p {
        font-family: $roboto;
        color: white;
        text-decoration: none;
    }

    .navLinks li {
        padding: 0px 20px;
    }

    .navLinks li a {
        transition: color 0.3s ease 0s;
    }

    .navLinks li a:hover {
        color: rgb(41, 245, 10);
    }
}


//Landing page

.landingPage {
    background-image: url("/pictures/pexels-artem-beliaikin-853199.jpg");
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include backGroundPicture;
    justify-items: center; // Centrerade bilden

    h1 {
        margin-bottom: 20px;
        font-size: 4rem;
    }

    span {
        color: rgb(41, 245, 10); //rgb(41, 245, 10)
    }

    p {
        margin: 0 auto;
        text-shadow: rgb(0, 0, 0) 1px 0 20px;
        font-weight: bold;
        font-size: 1.7rem;

        color: rgb(255, 255, 255);
    }

    .landingText {
        position: relative;
        font-family: $roboto;
        font-size: 1.5rem;
        margin-top: 45%;
        margin-left: 50px;
        color: white;
    }

    .landingPic {
        color: white;
        height: 100vh;

        #me {
            z-index: 1;
            height: 400px;
            position: relative;
            top: 45%;
            transform: translateY(-30%);
        }
    }
}


.aboutMeDiv {
    display: grid;
    grid-template-rows: 1fr;
    height: 100vh;
    background-image: url("/pictures/pexels-martin-péchy-2078266.jpg");
    @include backGroundPicture();


    .aboutMePic {
        // margin-top: 200px;
        // margin-left: 50px;
        //background-color: #000000;
        // border-right: 4px solid rgb(251, 251, 251);
    }

    //SJälva diven med texten om mig
    .aboutMeText {
        position: relative;
        overflow: auto; //Gör så att texten inte flyter utanför text rutan
        width: 60%;
        margin-top: 300px;
        margin-left: 300px;
        height: 500px;
        background-color: rgb(0, 0, 0);
        -webkit-box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 1);
        box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 1);
        font-family: $roboto;
        background: rgba(47, 89, 130, 0.346)
    }

    .meColor {
        margin-left: 500px;
        margin-top: 10px;
        height: 400px;
        max-width: 100%;
        position: absolute;
        z-index: 2;
    }



    p {
        font-size: 1.5vw;
        margin-top: 150px;
        margin-left: 40px;
        margin-right: 40px;
        color: white;
    }

}

//Portfolio

.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 95vh;
    color: #ffffff;
    background-image: repeating-linear-gradient(45deg, rgba(136, 136, 136, 0.13) 0px, rgba(136, 136, 136, 0.13) 27px, rgba(192, 192, 192, 0.13) 27px, rgba(192, 192, 192, 0.13) 37px, rgba(34, 34, 34, 0.13) 37px, rgba(34, 34, 34, 0.13) 50px, rgba(169, 169, 169, 0.13) 50px, rgba(169, 169, 169, 0.13) 84px, rgba(118, 118, 118, 0.13) 84px, rgba(118, 118, 118, 0.13) 110px, rgba(133, 133, 133, 0.13) 110px, rgba(133, 133, 133, 0.13) 140px, rgba(12, 12, 12, 0.13) 140px, rgba(12, 12, 12, 0.13) 159px), repeating-linear-gradient(45deg, rgba(134, 134, 134, 0.13) 0px, rgba(134, 134, 134, 0.13) 17px, rgba(172, 172, 172, 0.13) 17px, rgba(172, 172, 172, 0.13) 29px, rgba(108, 108, 108, 0.13) 29px, rgba(108, 108, 108, 0.13) 67px, rgba(170, 170, 170, 0.13) 67px, rgba(170, 170, 170, 0.13) 85px, rgba(135, 135, 135, 0.13) 85px, rgba(135, 135, 135, 0.13) 122px, rgba(80, 80, 80, 0.13) 122px, rgba(80, 80, 80, 0.13) 168px, rgba(24, 24, 24, 0.13) 168px, rgba(24, 24, 24, 0.13) 203px), repeating-linear-gradient(45deg, rgba(251, 251, 251, 0.1) 0px, rgba(251, 251, 251, 0.1) 99px, rgba(17, 17, 17, 0.1) 99px, rgba(17, 17, 17, 0.1) 158px, rgba(39, 39, 39, 0.1) 158px, rgba(39, 39, 39, 0.1) 259px, rgba(4, 4, 4, 0.1) 259px, rgba(4, 4, 4, 0.1) 394px, rgba(36, 36, 36, 0.1) 394px, rgba(36, 36, 36, 0.1) 514px, rgba(251, 251, 251, 0.1) 514px, rgba(251, 251, 251, 0.1) 622px, rgba(76, 76, 76, 0.1) 622px, rgba(76, 76, 76, 0.1) 737px), linear-gradient(90deg, rgb(59, 49, 48), rgb(21, 44, 43));

    .projectOne {

        .quiz {
            margin-top: 20%;
            margin-left: 10%;
            height: 600px;
            width: 400px;
            background: rgba(0, 0, 0, 0.500);

            .quizPic {
                width: 400px;
            }

            p,
            ul {
                margin-top: 50px;
                margin-left: 40px;
                font-size: 1.5rem;
                font-family: $roboto;
            }

            li {
                padding: 10px;
            }

            a {
                text-decoration: none;
                color: rgb(87, 201, 95);
            }
        }
    }

    .projecTwo {

        .yatzy {
            margin-top: 20%;
            margin-left: 10%;
            height: 600px;
            width: 400px;
            background: rgba(0, 0, 0, 0.500);

            .yatzyPic {
                width: 400px;
            }

            p,
            ul {
                margin-top: 50px;
                margin-left: 40px;
                font-size: 1.5rem;
                font-family: $roboto;
            }

            li {
                padding: 10px;
            }

            a {
                text-decoration: none;
                color: rgb(87, 201, 95);
            }
        }
    }

    .projecThree {

        .event {
            margin-top: 20%;
            margin-left: 10%;
            height: 600px;
            width: 400px;
            background: rgba(0, 0, 0, 0.500);

            .eventPic {
                width: 400px;
                height: 235px;
            }

            p,
            ul {
                margin-top: 50px;
                margin-left: 40px;
                font-size: 1.5rem;
                font-family: $roboto;
            }

            li {
                padding: 10px;
            }

            a {
                text-decoration: none;
                color: rgb(87, 201, 95);
            }
        }
    }


}