* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #020202;
}

.wrapper {
  max-width: 2200px;
  margin: 0 auto;
}

.navHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  padding-right: 40px;
  background-color: #24252a;
  position: fixed;
  width: 100%;
  top: 0;
  height: 50px;
  font-size: 1.2rem;
}

.navHeader .navLinks {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navHeader .navLinks a,
.navHeader p {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
}

.navHeader .navLinks li {
  padding: 0px 20px;
}

.navHeader .navLinks li a {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.navHeader .navLinks li a:hover {
  color: #29f50a;
}

.landingPage {
  background-image: url("/pictures/pexels-artem-beliaikin-853199.jpg");
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-size: cover;
  /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
  -webkit-background-size: cover;
  /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
  -moz-background-size: cover;
  /* optional for Firefox 3.6 */
  -o-background-size: cover;
  /* for Opera 9.5 */
  margin: 0;
  /* to remove the default white margin of body */
  padding: 0;
  /* to remove the default white margin of body */
  overflow: hidden;
  background-position: center center;
  background-attachment: fixed;
  justify-items: center;
}

.landingPage h1 {
  margin-bottom: 20px;
  font-size: 4rem;
}

.landingPage span {
  color: #29f50a;
}

.landingPage p {
  margin: 0 auto;
  text-shadow: black 1px 0 20px;
  font-weight: bold;
  font-size: 1.7rem;
  color: white;
}

.landingPage .landingText {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  margin-top: 45%;
  margin-left: 50px;
  color: white;
}

.landingPage .landingPic {
  color: white;
  height: 100vh;
}

.landingPage .landingPic #me {
  z-index: 1;
  height: 400px;
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}

.aboutMe {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 550px 1fr;
      grid-template-columns: 550px 1fr;
  height: 100vh;
  background-image: url("/pictures/pexels-mitchell-luo-5720108.jpg");
  background-size: cover;
  /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
  -webkit-background-size: cover;
  /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
  -moz-background-size: cover;
  /* optional for Firefox 3.6 */
  -o-background-size: cover;
  /* for Opera 9.5 */
  margin: 0;
  /* to remove the default white margin of body */
  padding: 0;
  /* to remove the default white margin of body */
  overflow: hidden;
  background-position: center center;
  background-attachment: fixed;
}

.aboutMe .aboutMePic {
  margin-top: 200px;
  margin-left: 50px;
}

.aboutMe .meColor {
  display: block;
  max-width: 100%;
}

.aboutMe .aboutMeText {
  overflow: auto;
  width: 60%;
  margin: 0 auto;
  margin-top: 150px;
  height: 500px;
  padding: 30px;
  background-color: black;
  -webkit-box-shadow: 8px 8px 30px 0px black;
  box-shadow: 8px 8px 30px 0px black;
  font-family: "Roboto", sans-serif;
}

.aboutMe p {
  position: relative;
  font-size: 1.5vw;
  margin-top: 25px;
  color: white;
}

.portfolio {
  height: 100vh;
  color: #d6e8ee;
}
/*# sourceMappingURL=style.css.map */